/* CSS RESET */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/****************/

/* Gallery Styling */
#gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

img {
    width: 100%;
}

img:hover {
    cursor: pointer;
    outline: 4px dashed green;
}